.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Warna latar belakang semi-transparan */
    z-index: 2; /* Z-index lebih tinggi dari form popup */
}

.add-meal-plan1 {
    width: 45vh;
    height: 170px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-meal-plan1 label {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    line-height: 2;
}

.add-meal-plan1 input {
    width: 38vh;
    height: 42px;
    padding: 10px 16px;
    outline: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15) inset;
}

.add-meal-plan1 button {
    width: 140px;
    height: 30px;
    border-radius: 20px;
    background: #FFBE1A;
    margin-left: auto;
    color: white;
    font-family: 'Poppins-Medium';
    font-size: 14px;
}