.sidebar {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 85px;
    height: 100vh;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding: 0;
    position: fixed;
    cursor: pointer;
    z-index: 2;
}

.sidebar .logo {
    height: 102px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.sidebar .content-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.sidebar .profile-pic {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    width: 58px;
    height: 58px;
    margin: 20px auto;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; 
}

.sidebar .profile-pic.active {
    /* box-shadow: 1px 2px 1px 3px #ffbe1ab3; */
    box-shadow: 0px 4px 20px 0px #FFBE1A;
} 

.sidebar .page-menu {
    height: 52px;
}

.sidebar .page-menu.active svg path {
    fill: #FFBE1A;
    /* stroke: #FFBE1A; */
}

.sidebar .page-menu.home.active svg path {
    fill: none;
    stroke: #FFBE1A;
}

.sidebar .profile-pic img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
}

.navbar-container {
    background-color: #FFF;
    width: 280px;
    height: 100vh;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    /* position: absolute; */
}

.navbar-container .head {
    height: 102px;
    padding: 10px 15px;
    display: flex;
    /* justify-content: space-between; */
    gap: 2vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);;
}

.navbar-container .head img {
    width: 65px; /* Set a fixed width */
    height: 65px; /* Set a fixed height */
    object-fit: contain; /* Maintain the aspect ratio without stretching */
    margin: auto;
}

.navbar-container .head h1 {
    color: #000;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar-container .head p {
    width: 170px;
    font-size: 16px;
    font-family: 'Poppins-Light';
    font-weight: 600;
}

.navbar-container .profile {
    width: 240px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.25);
    justify-content: left;
    align-items: center;
    margin: 25px auto;
    padding: 0 15px;
    display: flex;
    /* justify-content: space-between; */
    gap: 2vh;
    text-transform: capitalize;
}

.navbar-container A.active .profile {
    box-shadow: 0px 4px 20px 0px #FFBE1A;
}
.navbar-container A:hover .profile {
    box-shadow: 0px 4px 20px 0px #FFBE1A;
}

.navbar-container .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.navbar-container .profile h1 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins';
}

.navbar-container .profile p {
    width: 145px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Poppins-Light';
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.navbar-container .menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 0 32px;
}

.navbar-container .menu .menu-container {
    align-items: center;
    display: inline-flex;
    padding: 10px;
    color: #000;
    font-family: 'Poppins-Medium';
    font-size: 17px;
    gap: 3vh;
    /* font-weight: 1000; */
}

.navbar-container .menu .menu-container:hover {
    fill: #FFBE1A;
    color: #FFBE1A;
}

.navbar-container .menu A.active .menu-container svg path {
    fill: #FFBE1A;
}

.navbar-container .menu .menu-container:hover svg path {
    fill: #FFBE1A;
}

.navbar-container .menu A.active .menu-container.home svg path {
    fill: none;
    stroke: #FFBE1A;
}

.navbar-container .menu .menu-container.home:hover svg path {
    fill: none;
    stroke: #FFBE1A;
}


.navbar-container .menu A.active .menu-container p {
    color: #FFBE1A;
}

.main-content {
    z-index: 0;
    margin-left: 80px;
    flex: 1;
}

.page-component {
    display: flex;
    flex-direction: row;
}
