.home-page {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.home-page .home-1 {
    height: 185px;
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 45px 45px;
    background: url(/src/assets/img/home-header.png), lightgray 50% / cover no-repeat;
} 

.home-page .home-1 h1 {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 20px #FFF;
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home-page .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 55px;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: #FFF;
    margin-top: auto;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
    top: 27px;
}

.home-page .search-container input {
    width: 672px;
    height: 79px;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Poppins-Light';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 25px;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    background: #FFF;


}
.home-page .search-container .search-sort-btn {
    display: flex;
    width: 70px;
    background: #FFF;
    height: 79px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.24);
}

.home-page .search-container .search-icon-btn {
    display: flex;
    width: 70px;
    height: 60px;
    border-radius: 35px;
    background: #FFBE1A;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.home-page .home-2 {
    display: flex;
    flex-direction: column;
    padding: 65px 30px;
    gap: 4vh;
    /* position: relative;
    z-index: -2; */
}

.home-page .home-2 h2 {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.home-page .home-2 .box-home-1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2.5vh;
}

.home-page .home-2 .box-home-1 .cmp-1-item {
    width: 24vh;
    height: 12vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Poppins';
    color: white;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}

.home-page .home-2 .box-home-2, .box-home-3 {
    display: flex;
    flex-wrap: wrap; /* Memungkinkan elemen-elemen untuk melanjutkan ke baris berikutnya jika tidak muat di dalam satu baris */
    justify-content: left; 
}

.home-page .home-2 .box-home-2 {
    gap: 3vh;
}

.home-page .home-2 .box-home-3 {
    gap: 5vh;
}

/* Contoh gaya untuk elemen-elemen di dalam .box-home-2 */
.home-page .home-2 .box-home-2 .item-box {
    width: 25vh; /* Atur lebar elemen sesuai kebutuhan */
    height: 40px; /* Atur tinggi elemen sesuai kebutuhan */
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Poppins-Light';
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.home-page .home-2 .box-home-2 .item-box.active {
    /* background-color: #4F48ED;
    color: white; */
    font-weight: 100;
    font-family: 'Poppins';
    /* background-color: #ececec;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3); */

    /* color: #FFBE1A; */
} 

.selected-filters {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    flex-wrap: wrap; 
}

.selected-filter {
    width: 25vh; /* Atur lebar elemen sesuai kebutuhan */
    height: 40px; /* Atur tinggi elemen sesuai kebutuhan */
    background-color: #4F48ED;
    color: white;
    /* background-color: white;
    color:#4F48ED;
    border: 1px solid #4F48ED; */

    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Poppins-Light';
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.selected-filter p {
    width: 20vh;
    text-align: center;
    text-overflow: ellipsis;
}

.selected-filter button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page .home-2 .box-home-3 .home-rcp {
    width: 55vh;
    height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 15px;
    gap: 2vh;
}  

.home-page .home-2 .box-home-3 .home-rcp img {
    height: 115px;
    width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.home-page .home-2 .box-home-3 .home-rcp .rcp-content {
    flex: 1;
    /* background-color: #FFBE1A; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 14px;
    font-size: 100;
}

.home-page .home-2 .box-home-3 .home-rcp .rcp-content h1 {
    font-size: 20px;
    font-family: 'Poppins';
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-weight: bolder; */
    margin-bottom: 5px;
    text-transform: capitalize;
}

.home-page .home-2 .box-home-3 .home-rcp .rcp-content h2 {
    font-size: 15px;
    font-family: 'Inter';
    margin: 0;
    font-weight: 1000;
}

.home-page .home-2 .box-home-3 .home-rcp .rcp-content li {
    font-family: 'Inter';
    font-weight: 100;
    padding: 0 5px;
    margin-left: 20px;
}

.home-page .rencana-masak {
    position: relative;
    cursor: pointer;
}

.home-page .bm-meal {
    position: relative;
    cursor: pointer;
}

.home-page .bm-meal .bookmark {
    right: -120px;
    top: 50%;
    position: fixed;

}

.home-page .bm-meal .bookmark .tooltip {
    position: relative;
    left: -123px;
    top: 26px;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    opacity: 0;
    width: 120px;
    font-size: 11px;
    font-family: 'Poppins-Light';
    transition: opacity 0.3s ease;
}

.home-page .bm-meal .bookmark:hover .tooltip {
    opacity: 0.8;
}

.home-page .rencana-masak button {
    position: fixed;
    background-color: #FFBE1A;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 19px;
    right: 19px;
}



.home-page .home-2 .box-home-1 .cmp-1-item.sayur {
    background: url(/src/assets/img/kategori_bahan/sayurmayur.svg), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.bumbu:active {
    box-shadow: 0px 2px 15px 0px #FFBE1A;
}

.home-page .home-2 .box-home-1 .cmp-1-item.buah {
    background: url(/src/assets/img/kategori_bahan/buah.png), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.kacang {
    background: url(/src/assets/img/kategori_bahan/kacang.png), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.dessert {
    background: url(/src/assets/img/kategori_bahan/dessert.png), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.karbo {
    background: url(/src/assets/img/kategori_bahan/karbo.png), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.susu {
    background: url(/src/assets/img/kategori_bahan/susu.png), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.daging {
    background: url(/src/assets/img/kategori_bahan/daging.png), lightgray 50% / cover no-repeat;
}

.home-page .home-2 .box-home-1 .cmp-1-item.bumbu {
    background: url(/src/assets/img/kategori_bahan/bumbu.png), lightgray 50% / cover no-repeat;
}