.container-login {
    background-color: #FFBE1A;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.login-content {
    padding: 35px;
    width: 40vw;
}

.login-content h1 {
    color: rgba(0, 0, 0, 0.83);
    text-align: center;
    font-family: 'Poppins';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-content p {
    margin: auto;
    width: 370px;
    color: rgba(0, 0, 0, 0.83);
    text-align: center;
    font-family: 'Poppins-Light';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.login-card h1 {
    color: rgba(0, 0, 0, 0.83);
    text-align: left;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    /* text-align: left; */
    margin: 0;
}

.login-card p {
    color: rgba(0, 0, 0, 0.83);
    text-align: left;
    font-family: 'Poppins-Light';
    font-size: 18px;
    font-weight: 600;
    /* text-align: left; */
    margin-bottom: 55px;
}

.login-card label {
    color: #000;
    font-family: 'Poppins-Light';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    /* text-align: left; */
}

.login-card input {
    width: 80vh;
    height: 6.5vh;
    padding: 5px 12px;
    border-radius: 10px;
    border: 1px solid rgba(17, 15, 54, 0.70);
    background: #FFF;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins-Light';
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* CSS */
.login-card ::placeholder {
    opacity: 0.5; /* Adjust the opacity value as needed (0 to 1) */
}
  

.login-card .login-btn-masuk button {
    margin-top: 35px;
    width: 80vh;
    height: 7.5vh;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #4F48ED;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
}

.login-card .buat-akun {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins-Light';
    font-size: 17px;
    font-weight: 600;
}

.login-card .pass-icon {
    position: absolute;
    right: 20px;
    margin-top: 13px;
    opacity: 0.5;
    cursor: pointer;
    /* z-index: 0; */
}

.login-card .buat-akun A {
    color: #4F48ED;
}

.login-card .password-ct {
    position: relative;
    z-index: 0;
}


.login-popup .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-popup {
    width: 95vh;
    height: 95vh;
    position: absolute;
    z-index: 6;
    margin: auto;
    padding: 25px;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 35px;
}

.login-popup .login-popup-ct {
    position: relative;

}

.show-login-btn button {
    width: 240px;
    height: 66px;
    border-radius: 10px;
    background-color: #4F48ED;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;;
    box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 0 15px;
    display: flex;
    /* justify-content: space-between; */
    gap: 2vh;
}

.login-popup .signup-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-popup .signup-card h1 {
    color: rgba(0, 0, 0, 0.83);
    text-align: left;
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 700;
    /* text-align: left; */
    margin: 0;
    line-height: 0.2;
    margin-bottom: 20px;
}

.login-popup .signup-card p {
    color: rgba(0, 0, 0, 0.83);
    text-align: left;
    font-family: 'Poppins-Light';
    font-size: 17px;
    font-weight: 600;
    width: 75vh;
    margin-bottom: 15px;
}

.login-popup .signup-card label {
    color: #000;
    font-family: 'Poppins-Light';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    /* text-align: left; */
}

.login-popup .signup-card input {
    width: 80vh;
    height: 6vh;
    padding: 5px 12px;
    border-radius: 10px;
    border: 1px solid rgba(17, 15, 54, 0.70);
    background: #FFF;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins-Light';
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 13px;
    margin-top: 2px;
}

/* CSS */
.login-popup .signup-card ::placeholder {
    opacity: 0.5; /* Adjust the opacity value as needed (0 to 1) */
}
  

.login-popup .signup-card .login-btn-masuk button {
    width: 80vh;
    height: 7.5vh;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #4F48ED;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
}

.login-popup .signup-card .buat-akun {
    margin-top: 19px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins-Light';
    font-size: 16px;
    font-weight: 600;
}

.login-popup .signup-card .pass-icon {
    position: absolute;
    right: 10px;
    margin-top: 9px;
    opacity: 0.5;
    cursor: pointer;
    /* z-index: 0; */
}

.login-popup .signup-card .buat-akun A {
    color: #4F48ED;
}

.login-popup .signup-card .password-ct {
    position: relative;
    z-index: 0;
}